body {
    background-color:hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
}

.product_Img {
    width: 595px;
    height: 448px;
    /*border: dotted red 2px;*/
    border-radius: 8px;
    display: flexbox;
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.prod_Information {
    padding-left: 330px;
    padding-top: 16px;
    width: 260px;
    height: 404px;
    display: flex;
    text-align: left;
    color:hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    flex-wrap: wrap;
}

h1 {
    color: black;
    font-family: 'Fraunces', serif;
    display: flexbox;
    margin-right: 10px;
    width: 200px;
}

h2 {
    font-weight: 300;
    letter-spacing: 0.4em;
    font-family: 'Montserrat', sans-serif;
    font-size:small;
    display:inline-flex;
}

.description {
    line-height: 1.5;
    margin-right: 10px;
    width: 240px;
}

.price {
    color:hsl(158, 36%, 37%);
    font-size: 36px;
    letter-spacing: -1px;
    font-family: 'Fraunces', serif;
    display: flexbox;
    padding-top: 20px;
    padding-bottom: 20px;
}

.previous_price{
    display: flexbox;
    color:hsl(158, 36%, 37%);
    text-decoration: line-through;
    flex-wrap: wrap;
    padding: 7px;
    text-align: center;
    width: 100px;
    padding-top:35px;
}

.button {
    background-color: hsl(158, 36%, 37%); /* forest green */
    border-radius: 8px;
    color: white;
    padding: 12px 75px 10px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 14px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    display: inline-flexbox; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}