
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(30, 38%, 92%);
}

.product_block{
    width: 600px;
    border-radius: 8px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 25%;
}

/*Product image CSS manipulation*/
.product_Img {
    width: 50%;
    padding-right: 5px; 
    float: left;
}

/*Product information CSS Manipulation*/
.prod_Information {
    width: 45%;
    float: right;
    padding-top: 24px;
    padding-right: 10px;
    text-align: left;
    color:hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
}

/*Hero header CSS manipulation*/
h1 {
    color: black;
    font-family: 'Fraunces', serif;
    width: 200px;
}

.Sub_header {
    font-weight: 300;
    letter-spacing: 0.4em;
    font-family: 'Montserrat', sans-serif;
    font-size:small;
}

/*Hero text and price CSS manipulation*/
.description {
    line-height: 1.455;
    width: 240px;
}

.price {
    padding-top: 38px;
    padding-bottom: 25px;;
    color:hsl(158, 36%, 37%);
    font-size: 32px;
    letter-spacing: -1px;
    font-family: 'Fraunces', serif;
}

.previous_price{
    font-size: 12px;
    color:hsl(158, 36%, 37%);
    text-decoration: line-through;
    text-align: center;
}

/*button and credit CSS manipulation*/
.button {
    background-color: hsl(158, 36%, 37%); /* forest green */
    border-radius: 8px;
    color: white;
    padding: 12px 75px 10px 75px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Mobile-Friendly CSS manipulation
@media only screen and (max-width: 375px){
   
} */