body {
    background-color: rgb(233, 225, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
}

.product_Img {
    width: 538px;
    height: 404px;
    /*border: dotted red 2px;*/
    border-radius: 8px;
    display: flexbox;
    background-image: url(/images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.prod_Information {
    padding-left: 280px;
    padding-top: 16px;
    width: 260px;
    height: 404px;
    display: flexbox;
    text-align: left;
    color:rgb(87, 143, 109);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: black;
    font-family: 'Fraunces', serif;
    display:inline-flex
}

.description {
    line-height: 1.5;
}

.price {
    color:rgb(87, 143, 109);
    font-size: 36px;
    letter-spacing: -3px;
    font-family: 'Fraunces', serif;
}

.previous_price{
    display: inline-flexbox;
    color:rgb(87, 143, 109);
}

.button {
    background-color: rgb(87, 143, 109); /* forest green */
    border-radius: 4px;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
